* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.product-card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightblue;
    padding: 10px;
    background-color: white;
    transition: all 1s;
    position: relative;
}

.icons_block {
    display: none;
    position: absolute;
    gap: 10px;
    top: 0;
    right: 0;
}

.product-card:hover {
    background-color: rgb(189, 214, 243);
    transform: scale(1.05);
}

.product-card:hover .icons_block {
    display: flex;
}

.product-info:hover .product-price {
    color: red;
}

.product-img {
    aspect-ratio: 1 / 1;
}

.product-name {
    color: #0096CD;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-container {
    display: grid;
    gap: 10px;
    padding: 10px;
}

/*
3. Вспоминаем адаптивность. Добавляем медиа-запросы:
 - на смартфонах (до 375 пикселей ширины) - список товаров рендерим в одну колонку
 - на больших смартфонах (376-520) - рендерим в 2 колонки
 - на планшетах (521-700) - рендерим в 4 колонки
 - на больших экранах (701+) - рендерим в 5 колонок.
*/

/* MOBILE-FIRST APPROACH */
/*
.product-container {
    grid-template-columns: 1fr;
}

@media (min-width: 376px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 521px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 701px) {
    .product-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
*/

/* DESKTOP-FIRST APPROACH */

.product-container {
    grid-template-columns: repeat(5, 1fr);
}
.product-price {
    font-size: 25px;
}

@media (max-width: 700px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-price {
        font-size: 20px;
    }
}

@media (max-width: 520px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-price {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .product-container {
        grid-template-columns: 1fr;
    }
    .product-price {
        font-size: 15px;
    }
}


/*
Размер шрифта для цені товара (product-price):
 - на мобильных (до 375) - 15пикселей
 - на больших моб (до 520) - 18
 - планшеты - 20
 - декстопы - 25
*/

.unavailable_stub {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.product-card.unavailable:hover .unavailable_stub {
    display: flex;
}

.unavailable_stub > p {
    background-color: white;
    padding: 10px;
}