.App {
  text-align: center;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.copyright {
  color: gray;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.simpleListContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productCard {
  border-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 15px lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.productPrice {
  font-size: 16px;
  color: darkblue;
  font-weight: 700;
}

.productBrands {
  font-size: 12px;
  color: gray;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.productList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.simpleHeader {
  font-size: 20px;
  font-weight: bold;
}

.simpleButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #0096CD;
  color: white;
}

.simpleInput {
  border: 1px solid lightslategrey;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 8px;
}

.warning {
  border: 1px dashed blue;
  color: blue;
  border-radius: 10px;
  font-size: 20px;
}

.error {
  border: 1px solid red;
  border-radius: 10px;
  font-size: 18px;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
